<md-toolbar>
  <h2>Great Neck 311 Help System</h2>
</md-toolbar>
<div>
  <md-content flex layout-padding>
    <p>One stop shop to find all service providers in great neck. </p>
    <p>We supports any house related requests. </p>
  </md-content>
</div>
<md-divider/>
<div ng-controller="loginCtrl">
  <div>
    <md-button ng-click ="loginAsFacebook()" class="md-raised">
      <md-icon md-svg-src='/images/facebook.svg'></md-icon> | Login with Facebook
    </md-button>
  </div>
  <div>
    <md-button ng-click ="loginAsGoogle()" class="md-raised">
      <md-icon md-svg-src='/images/google.svg'></md-icon> | Login with Google
    </md-button>
  </div>
  <div>
    <md-button ng-click ="loginAsGuest()" class="md-raised">
      <md-icon md-svg-src='/images/guest.svg'></md-icon> | Login as Guest
    </md-button>
  </div>
</div>
